*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header section start*/
header {
background-color: #9564A6;
color: #fff; 
width: 100;
float: left; 
}
.container{
    width: 95%;
    margin: auto;
    
}
/*Navigation*/ 
nav{
    display: flex;
    justify-content: space-around;
}
.mane-part ul{
list-style: none;
display: flex;
}
.mane-part ul li{
    padding: 10px;
}
.mane-part ul li a{
   color: #fff;
   text-decoration: none;
   padding: 6px 10px;
   transition: .5s;
   font-size: 18px;
}
.mane-part ul li a:hover{
    background: #52295f;
  
   
 }
 .hero-writing-part{
     text-align: center;
     padding: 30px 0;
 }
 .hero-writing-part a{
    display: inline-block;
     margin: 40px 0; 
    
}
.hero-writing-part button{
padding: 10px 35px;
background: #97ca0b;
text-transform: uppercase;
border: none;
outline: none;
transition: .5s;
border-radius: 5px;
  
  
}
.hero-writing-part button:hover{
    transform: scale(1.5);
    box-shadow: 1px 8px 1px #51641c;
      
      
    }